[Unit]
Before=autocall_flask_YandexDialog.service

[Service]
User=autocall
Group=www-data
Environment="PATH=/home/where-kyfat/autocall_flask_YandexDialog/env/bin"
WorkingDirectory=/home/where-kyfat/autocall_flask_YandexDialog
ExecStart=/home/where-kyfat/autocall_flask_YandexDialog/env/bin/python /home/where-kyfat/autocall_flask_YandexDialog/natasha_parser

[Install]
WantedBy=multi-user.target
