[Unit]
Description=uWSGI instance to serve autocall_flask_YandexDialog
Requires=natasha_parser.service
After=network.target natasha_parser.service

[Service]
User=PROJECT_USER
Group=www-data
WorkingDirectory=PROJECT_DIRECTORY/
Environment="PATH=PROJECT_DIRECTORY/env/bin"
ExecStartPre=PROJECT_DIRECTORY/env/bin/python autocall_preStart.py
ExecStart=PROJECT_DIRECTORY/env/bin/uwsgi --ini autocall_flask_YandexDialog.ini

[Install]
WantedBy=multi-user.target
