[Unit]
Requires=autocall_flask_YandexDialog.service
Before=autocall_flask_YandexDialog.service

[Service]
User=PROJECT_USER
Group=www-data
Environment="PATH=PROJECT_DIRECTORY/env/bin"
WorkingDirectory=PROJECT_DIRECTORY/
ExecStart=PROJECT_DIRECTORY/env/bin/python PROJECT_DIRECTORY/natasha_parser

[Install]
WantedBy=multi-user.target
